pip install requests
pip install Flask
pip install Flask-Login
pip install Flask-RESTful
pip install Werkzeug
pip install SQLAlchemy
pip install SQLAlchemy-serializer
pip install Flask-WTF
pip install WTForms
pip install Jinja2