pip install os
pip install base64
pip install requests
pip install datetime
pip install flask
pip install flask_login
pip install flask_restful
pip install werkzeug
pip install json
pip install secrets
pip install sqlalchemy
pip install sqlalchemy_serializer
pip install math
pip install random
pip install flask_wtf
pip install wtforms
