<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        {% for css in styles %}
            @import url("{{css}}");
        {% endfor %}
    </style>
    <title>{{title}}</title>
</head>
<body>
{% set button_style = "font-size:16px;border:1pxsolidgray;padding:3px;background-color:Green;border-radius:10px;" %}
<p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="/user/{{user.id}}" style={{button_style}}>{{user.login}}</a>
    {% else %}
    <a class="btn btn-primary" href="/register" style={{button_style}}>Зарегистрироватся</a>
    <a class="btn btn-primary" href="/login" style={{button_style}}>Войти</a>
    {% endif %}
    <a class="btn btn-primary" href="/" style={{button_style}}>На главную</a>
</p>
<!--Тут что-то до содержимого конкретной страницы-->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<!--Тут что-то после содержимого конкретной страницы-->
</body>
</html>